In [1]:
import pandas as pd
data=pd.read_csv('purchase.csv')
print(data)

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15566689  Female   35            57000          0
1    15569641  Female   58            95000          1
2    15570769  Female   26            80000          0
3    15570932    Male   34           115000          0
4    15571059  Female   33            41000          0
5    15573452  Female   21            16000          0
6    15573926    Male   40            71000          1
7    15574305    Male   35            53000          0
8    15574372  Female   58            47000          1
9    15575002  Female   35            60000          0
10   15575247  Female   48           131000          1
11   15575694    Male   35            73000          0
12   15576219    Male   41            45000          0
13   15577178  Female   22            63000          0
14   15577514    Male   43           129000          1
15   15577806    Male   41            87000          1
16   15578006    Male   23            63000          0
17   15578738  Female   18            86000          0
18   15579212    Male   39            77000          0
19   15579781  Female   29            47000          0
20   15581198    Male   31            74000          0
21   15581282    Male   37            74000          0
22   15581654  Female   34            43000          0
23   15582066    Male   40            78000          0
24   15582492    Male   28           123000          1
25   15583137    Male   40            61000          0
26   15583681    Male   32           120000          1
27   15584114    Male   24            23000          0
28   15584320  Female   37           146000          1
29   15584545  Female   32            86000          0
..        ...     ...  ...              ...        ...
370  15795224  Female   36           126000          1
371  15795298  Female   48           134000          1
372  15796351    Male   36           118000          1
373  15798659  Female   30            62000          0
374  15798850    Male   25            79000          0
375  15800061  Female   28            55000          0
376  15800215  Female   42            53000          0
377  15800515  Female   38           113000          1
378  15800890  Female   40           142000          1
379  15801247    Male   33            31000          0
380  15801336  Female   42           108000          1
381  15801658    Male   21            72000          0
382  15804002    Male   19            76000          0
383  15806901  Female   57            33000          1
384  15807481    Male   28            79000          0
385  15807525  Female   59            29000          1
386  15807837    Male   48            33000          1
387  15807909    Male   19            85000          0
388  15809347  Female   41            71000          0
389  15809823    Male   26            15000          0
390  15810075  Female   44            39000          0
391  15810800  Female   38            55000          0
392  15810944    Male   35            20000          0
393  15811177  Female   35            77000          0
394  15811613  Female   36            75000          0
395  15813113    Male   40           107000          1
396  15814004    Male   27            20000          0
397  15814553    Male   57            60000          1
398  15814816    Male   31            66000          0
399  15815236  Female   45           131000          1

[400 rows x 5 columns]

In [5]:
#separate x and y
x=data.drop(['User ID','Purchased'],axis=1)
y=data['Purchased']

In [6]:
data.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15566689  Female   35            57000          0
1  15569641  Female   58            95000          1
2  15570769  Female   26            80000          0
3  15570932    Male   34           115000          0
4  15571059  Female   33            41000          0

In [8]:
#convert labels to numbers for input variable x
from sklearn.preprocessing import LabelEncoder
le_Gender=LabelEncoder()

#Add the le_Gender columns in inputvar data
x['Gender_n']=le_Gender.fit_transform(x['Gender'])
print(x.head())

   Gender  Age  EstimatedSalary  Gender_n
0  Female   35            57000         0
1  Female   58            95000         0
2  Female   26            80000         0
3    Male   34           115000         1
4  Female   33            41000         0

In [10]:
#drop original gender column
x.drop('Gender',axis=1,inplace=True)

KeyError: "['Gender'] not found in axis"

In [12]:
x.head(5)

   Age  EstimatedSalary  Gender_n
0   35            57000         0
1   58            95000         0
2   26            80000         0
3   34           115000         1
4   33            41000         0

In [13]:
#splitting data in train set and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [15]:
#function to perform training using entropy

from sklearn.tree import DecisionTreeClassifier
entropy=DecisionTreeClassifier(criterion='entropy',random_state=42,max_depth=3)

#create the model
entropy.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [16]:
predict=entropy.predict(x_test)
print(predict)

[0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 1 0 1 0 1 0 1 1 0 0 0
 1 1 1 0 0 0 0 0 0 1 1 0 1 0 0 1 1 0 0 1 1 1 0 0 0 1 1 0 0 0 1 0 1 1 0 0 1
 0 0 0 1 0 0 1 0 1 0 1 0 1 1 1 0 0 1 0 1 1 0 0 1 0 0 0 1 0 1 0 0 0 0 1 1 1
 0 0 1 1 1 0 0 0 0]

In [19]:
#check for accuracy
from sklearn.metrics import accuracy_score
print("Accuracy : ",accuracy_score(y_test,predict)*100)

Accuracy :  88.33333333333333

In [21]:
from sklearn.metrics import confusion_matrix
print("confusion matrix : \n",confusion_matrix(y_test,predict))

confusion matrix :
 [[71 13]
 [ 1 35]]