In [1]:
import pandas as pd
df1=pd.DataFrame()
print("Empty df :",df1)

Empty df : Empty DataFrame
Columns: []
Index: []

In [2]:
list1=[1,2,3,4]
df2=pd.DataFrame(list1)
print(df2)

   0
0  1
1  2
2  3
3  4

In [3]:
#create df from list of lists with default column names
list2=[[1,2,3],[4,5,6],[7,8,9]]
df3=pd.DataFrame(list2)
print(df3)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [68]:
#create df from list of lists with defined column names
list3=[['Sachin',10000],['MSD',20000],['Virat',5000]]
df4=pd.DataFrame(list3,columns=['Cricketer','Runs'])
print(df4)
print("\n\n")
df4.info()
df4["Runs"].describe()
print("\n\n")
df4["Cricketer"].describe()

  Cricketer   Runs
0    Sachin  10000
1       MSD  20000
2     Virat   5000



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
Cricketer    3 non-null object
Runs         3 non-null int64
dtypes: int64(1), object(1)
memory usage: 128.0+ bytes

count       3
unique      3
top       MSD
freq        1
Name: Cricketer, dtype: object

In [4]:
#create a df from dict of ndarrays/list
dict1={"Name":['Sachin','Sourav','Sachin'],"Runs":[10000,20000,40000]}
df5=pd.DataFrame(dict1)
print("df from dictionary :\n",df5)#keys are the column names by default

df from dictionary :
      Name   Runs
0  Sachin  10000
1  Sourav  20000
2  Sachin  40000

In [6]:
#index df from above
dict1={"Name":['Sachin','Sourav','Sachin'],"Runs":[10000,20000,40000]}
df5=pd.DataFrame(dict1,index=["Rank1","Rank2","Rank3"])
print("df from dictionary :\n",df5)

df from dictionary :
          Name   Runs
Rank1  Sachin  10000
Rank2  Sourav  20000
Rank3  Sachin  40000

In [6]:
list4=[{"a":1,"b":2},{"a":4,"b":5,"c":10}]
df7=pd.DataFrame(list4)
print("df from list of dict :\n",df7)
df8=pd.DataFrame(list4,columns=['a','d'])
print("\ndf from list of dict :\n",df8)

df from list of dict :
    a  b     c
0  1  2   NaN
1  4  5  10.0

df from list of dict :
    a   d
0  1 NaN
1  4 NaN

In [47]:
#create df from dict of series
data={"one":pd.Series([1,2,3],index=['a','b','c']),"two":pd.Series([4,5,6,7],index=['a','b','c','d'])}
df8=pd.DataFrame(data)
print(df8)

#adding new column

df8["three"]=pd.Series([10,11,12],index=['a','b','c'])
print("\nafter adding third column :\n",df8)

   one  two
a  1.0    4
b  2.0    5
c  3.0    6
d  NaN    7

after adding third column :
    one  two  three
a  1.0    4   10.0
b  2.0    5   11.0
c  3.0    6   12.0
d  NaN    7    NaN

In [49]:
#add new column with existing columns
df8["four"]=df8["one"]+df8["three"]
print("df after adding column :\n",df8)

df after adding column :
    one  two  three  four
a  1.0    4   10.0  11.0
b  2.0    5   11.0  13.0
c  3.0    6   12.0  15.0
d  NaN    7    NaN   NaN

In [50]:
#rename a column
df8.rename(columns={'one':'One','two':'Two'},inplace=True)
print(df8)

   One  Two  three  four
a  1.0    4   10.0  11.0
b  2.0    5   11.0  13.0
c  3.0    6   12.0  15.0
d  NaN    7    NaN   NaN

In [28]:
#row selection
print(df8.loc["b":"c"]) #b to c is not indexed ; labels are not indexed so shows b to c

   One  Two  three  four
b  2.0    5   11.0  13.0
c  3.0    6   12.0  15.0

In [51]:
#index based
#select only rows
print(df8.iloc[0:3])

#select rows and columns
print(df8.iloc[[1,2,3],[1,2]])

#slicing operator
print(df8.iloc[1:3,0:2])
print(df8.iloc[0:3,[1,3]])

#label based
print(df8.loc['a':'c','One':'four'])
print(df8.loc[['a','b'],['One','four']])
print(df8.loc['a':'c',['One','four']])

   One  Two  three  four
a  1.0    4   10.0  11.0
b  2.0    5   11.0  13.0
c  3.0    6   12.0  15.0
   Two  three
b    5   11.0
c    6   12.0
d    7    NaN
   One  Two
b  2.0    5
c  3.0    6
   Two  four
a    4  11.0
b    5  13.0
c    6  15.0
   One  Two  three  four
a  1.0    4   10.0  11.0
b  2.0    5   11.0  13.0
c  3.0    6   12.0  15.0
   One  four
a  1.0  11.0
b  2.0  13.0
   One  four
a  1.0  11.0
b  2.0  13.0
c  3.0  15.0

In [52]:
#append row
tempdf=pd.DataFrame([[99,98,76],[78,76,91]],columns=["One","Two","four"])
df8=df8.append(tempdf)
#df8.append(tempdf,inplace=True)
print("after appending 2 rows row :\n",df8)

after appending 2 rows row :
     One  Two  four  three
a   1.0    4  11.0   10.0
b   2.0    5  13.0   11.0
c   3.0    6  15.0   12.0
d   NaN    7   NaN    NaN
0  99.0   98  76.0    NaN
1  78.0   76  91.0    NaN

In [57]:
print(df8)
print("\nchecking 0 is label : \n",df8.iloc[0])

    One  Two  four  three
a   1.0    4  11.0   10.0
b   2.0    5  13.0   11.0
c   3.0    6  15.0   12.0
d   NaN    7   NaN    NaN
0  99.0   98  76.0    NaN
1  78.0   76  91.0    NaN

checking 0 is label :
 One       1.0
Two       4.0
four     11.0
three    10.0
Name: a, dtype: float64

In [58]:
#deletion of row
df8=df8.drop("a")
df8=df8.drop(df8.index[0])
print("after deleting 1st row :\n",df8)

after deleting 1st row :
     One  Two  four  three
c   3.0    6  15.0   12.0
d   NaN    7   NaN    NaN
0  99.0   98  76.0    NaN
1  78.0   76  91.0    NaN

In [60]:
#size
print("the length of dataframe :",df8.size)

#top 2 rows
print("\nthe top 2 rows :\n",df8.head(2))

#bottom 2 rows
print("\nthe top 2 rows :\n",df8.tail(2))

the length of dataframe : 16

the top 2 rows :
    One  Two  four  three
c  3.0    6  15.0   12.0
d  NaN    7   NaN    NaN

the top 2 rows :
     One  Two  four  three
0  99.0   98  76.0    NaN
1  78.0   76  91.0    NaN

In [ ]:
#Data manipulation in dataframe
#command--> <object of pandas>.read_csv("<file_name.csv>")